#logo-name {
    font-family: Calibri;
    font-size: 55px;
    text-align: center;
}
a { text-decoration: none;
    color: #501919;}
nav {
    height: fit-content;
    width: 100%;
    background-color: #f37575;
    text-align: center;

}

nav .tooltiptext a {
    height: fit-content;
    display: inline-block;
    padding: 13px 6px;
    text-align: left;
}

.link {
    position: relative;
    display: inline-block;
    font-size: 21px;
    margin: 10px;
}

.link .tooltiptext {
    visibility: hidden;
    font-size: 20px;
    z-index: 5;
    background-color: #f37575;
    border-radius: 0 0 16px 16px;
    padding: 10px;
    position: absolute;
}

.link .tooltiptext {
    width: 160px;
    top: 105%;
    left: 86%;
    margin-left: -100px;
}

.link:hover .tooltiptext {
    visibility: visible;
}