<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<section layout:fragment="content">
    <div class="ui form error">
        <div class="ui error message">
            <div class="header">Löschen Bestätigen</div>
            <p>Möchten Sie wirklich Ihr Konto endgültig löschen?</p>
        </div>
        <form th:action="@{/delete-confirmation}" method="get">
            <button class="ui submit red button">löschen</button>
        </form>
    </div>
</section>
</body>
</html>