<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>confirmOrder</title>
    </head>
    <body>
    <section layout:fragment="content">
    <form class="ui form container" th:action="@{/}">
            <div class="container">
            <div class="vertical-center">
                <h2><center>Vielen Dank für Ihre Bestellung</center></h2>
                <p><center>Sie erhalten in Kürze eine Bestätigung</center></p>
                <button>zurück zur Startseite</button>
            </div>
            </div>
        </form>
    </section>
    </body>
</html>