<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Kundenliste</title>
</head>
<body>
<section layout:fragment="content">
    <h2 class="underlined-text">Kundenliste</h2>
    <table class="ui striped center aligned table">
        <tr class="bold">
            <th>Name</th>
            <th>E-Mail Adresse</th>
            <th>ID</th>
        </tr>
        <tr>
            <td>Kunde, Test</td>
            <td>test@Kunde.de</td>
            <td>01</td>
        </tr>
        <tr>
            <td>Kunde, Test</td>
            <td>test@Kunde.de</td>
            <td>02</td>
        </tr>
        <tr>
            <td>Kunde, Test</td>
            <td>test@Kunde.de</td>
            <td>03</td>
        </tr>
        <tr>
            <td>Kunde, Test</td>
            <td>test@Kunde.de</td>
            <td>04</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table>
</section>
</body>
</html>
