<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">
    <h2 class="underlined-text">Profil</h2>
    <form class="ui form container" th:action="@{/update-profile}" method="post" th:object="${profileForm}">
    <table>
        <tr>
            <td>Vorname:</td>
            <td ><input type="text" th:field="*{firstName}" required></td>
        </tr>
        <tr>
            <td>Nachname:</td>
            <td ><input type="text" th:field="*{lastName}" required></td>
        </tr>
        
        <tr>
            <td>E-Mail:</td>
            <td ><input type="email" th:field="*{email}" required></td>
        </tr>
        <tr>
        <td>Adresse:</td>
        <td ><input type="text" th:field="*{address}"></td>
        </tr>
    </table>
        <br/>
        <br/>
        <button type="submit" class="ui simple green button">Speichern</button>
    </form>
</section>
</body>
</html> 