<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Einkommensübersicht</title>
</head>
<body>
<nav th:replace="navigation :: navigation"></nav>
<section layout:fragment="content">
    <h2 class="underlined-text">Einkommensübersicht</h2>

    <div class="ui grid">
        <div class="row">
            <div class="one wide column"></div>

            <div class="three wide column">
                <form class="ui form" th:action="@{/income-overview}">
                    <div class="ui field">
                        <label for="from-date">Von: </label>
                        <input type="date" name="startDate" th:value="${start}" id="from-date"
                               th:pattern="#{valid.input.date.regexp}">
                    </div>
                    <div class="ui field">
                        <label for="to-date">Bis: </label>
                        <input type="date" name="endDate" th:value="${end}" id="to-date">
                    </div>
                    <button type="submit" class="ui basic blue button">Details Abrufen</button>
                </form>
            </div>

            <div class="one wide column"></div>


            <table class="ui single striped line table four wide column">
                <!-- Verteilung der Bestellungen im Prozentsatz-->
                <thead>
                <tr>
                    <td><strong>Dienstleistung</strong></td>
                    <td><strong>Prozentsatz</strong></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="key : ${servicePercentages.keySet}">
                    <td th:text="${key}">Test Angebot</td>
                    <td th:text="${servicePercentages.get(key) + ' %'}">0.0%</td>
                </tr>
                </tbody>
            </table>

            <div class="one wide column"></div>

            <!-- Anzeigen nach Bestellstatus im Prozentsatz-->
            <div class="middle aligned four wide column">
                <table class="ui single striped line table">
                    <thead>
                    <tr>
                        <th colspan="2">
                            <strong>Verteilnug nach Status</strong>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Abgeschlossen</td>
                        <td th:text="${statusPercentages.get('COMPLETED') + '%'}">00%</td>
                    </tr>
                    <tr>
                        <td>Aktiv</td>
                        <td th:text="${statusPercentages.get('PAID') + '%'}">00%</td>
                    </tr>
                    <tr>
                        <td>Storniert</td>
                        <td th:text="${statusPercentages.get('CANCELLED') + '%'}">00%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="one wid column"></div>
            <div class="seven wide column">
                <p class="ui middle header">Einnahmen gesamt: <span
                        th:text="${totalIncome.getNumber() + ' €'}">0.00€</span>
            </div>
            </p>
        </div>
    </div>
</section>
</body>
</html>