<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Anmelden</title>
</head>
<body>
<!--<nav th:replace="navigation :: navigation"></nav>-->
<section layout:fragment="content">
    <form class="ui form container" th:action="@{/login}" method="post">
        <h2 class="underlined-text">Anmelden:</h2>
        <div class="field w-input-50">
            <label for="email">Email:</label>
            <input type="text" id="email" placeholder="Email eingeben" name="email" required>
            <br/>
        </div>
        <div class="field w-input-50">
            <label for="passwort">Passwort:</label>
            <input type="password" id="passwort" placeholder="Passwort eingeben" name="password" required>
            <br/>
        </div>
        <button type="submit" class="ui button">Anmelden</button>
    </form>
</section>
</body>
</html>