<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
</head>
<body>
<div th:replace="navigation :: navigation"></div>
<section layout:fragment="content">
  <h2 class="underlined-text">Ihr Bestellverlauf</h2>
  <table>
    <thead>
    <tr class="bold">
      <th>Name</th>
      <th>Termin</th>
      <th>Kosten</th>
      <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${ordersCompleted}">
      <td th:text="${order}">000</td>
      <td th:text="${#conversions.convert(order.completionDate, 'String')}">TT.MM.JJJJ</td>
      <td> Platzhalter für Kosten</td>
      <td><a class="ui black basic button" th:href="@{/order-details/{order-id}(order-id=${order.id})}">Zu Details</a>
      </td>
    </tr>
    </tbody>
  </table>
</section>
</body>