<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Bestellformular</title>
    </head>
    <body>
        <section layout:fragment="content">
        	<h2 class="underlined-text">Bestellformular</h2>
            <form class="ui form container" th:action="@{/orderreview}" method="post" th:object="${order}">
                <div class="despriction">
                    <div class="info">
                        <article class="text">Auf Wunsch gestaltet Mampf auch das komplette Event. Neben Speisen und Getränken stellen wir optional Dekoration, Ausrüstung und kompetentes Personal.
                            <br />Bei der Planung ihres Events wird nicht nur Fokus auf hochwertige und delikate Gerichte gelegt, sondern auch auf die Wirkung bei den Gästen. Planen sie mit uns einen kulinarischen Abend, für den ihre Gäste auch noch Monate danach schwärmen </article><br/>
                        <article class="text">Bitte tragen Sie die nötigen Details ein.</article>
                    </div>
                    <label for="guests">Anzahl der Personen:</label><br/>
                    <input id="guests" type="number" name="guests" required th:field="*{guests}" min="0" max="100" step="1" value="0"/><br/><br/>

                    <label for="eessen">Extra Essen:</label><br/>
                    <input id="eessen" type="number" name="essen" required th:field="*{essen}" min="0" max="10" step="1" value="0"/><br/><br/>

                    <label for="egeschirr">Extra Geschirr:</label><br/>
                    <input id="egeschirr" type="number" name="geschirr" required th:field="*{geschirr}" min="0" max="10" step="1" value="0"/><br/><br/>

                    <label for="edeko">Extra Dekoration:</label><br/>
                    <input id="edeko" type="number" name="deko" required th:field="*{deko}"  min="0" max="10" step="1" value="0"/><br/><br/>

                    <label for="date">Gewünschtes Datum:</label><br/>
                    <input id="date" type="date" name="date" required th:field="*{date}"/><br/><br/>

                    <label for="place">Veranstaltungsort:</label><br/>
                    <input id="place" type="text" name="place" required th:field="*{place}"/><br/><br/>
                </div>
                <button type="submit" class="ui labeled icon button">
                    <i class="ui basic black button"></i><span th:text="#{detail.kaufen}">Kaufen</span>
                </button>
            </form>    
        </section>
    </body>
</html>