<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Partyservice Bestellformular</title>
    </head>
    <body>
        <section layout:fragment="content">
        	<h2 class="underlined-text">Partyservice Bestellformular</h2>
            <div class="ui card" th:each="ware : ${catalog}">
                <div>
                <h3>TEST</h3>
                <h3 class="card-title" th:href="@{/ware/{id}(id=${ware.id})}" th:text="${ware.name}">Partyservice</h3>
                <hr>
                <p class="card-text" th:text="${ware.description}">This is a desctiptive text telling you why you would wanna buy this book this should be limited as noone likes to read essays.</p>
                <hr>
                <h4 class="card-text" th:text="${ware.price}">Grundpreis: 200,00€</h4>
                <hr>
                <form class="ui form" method="post" th:action="@{/cartadd2}" th:object="${order}">
                    <input type="hidden" name="pid" value="0" th:value="${ware.id}"/>   <!--ware.id = ServiceType-->
                    <label for="number">Anzahl der Gäste:</label><br/>
                    <input type="number" name="number" min="1" max="100" step="1" value="0" th:value="1"><br/><br/>
                        <label for="extra1">Anzahl der Extra1:</label><br/>
                        <input id="extra1" type="number" name="extra2" min="0" max="10" step="1" value="0" required th:field="*{extra1}"/><br/><br/>
                        <label for="extra2">Anzahl der Extra2:</label><br/>
                        <input id="extra2" type="number" name="extra2" min="0" max="10" step="1" value="0" required th:field="*{extra2}"/><br/><br/>
                        <label for="date">Datum:</label><br/>
                        <input id="date" type="date" name="date" required th:field="*{date}"/><br/><br/>
                        <p>Zeitraum:</p>
                        <input type="radio" id="frühs" name="time" value="Frühs" required th:field="*{time}">
                        <label for="Frühs">Frühs</label><br/>
                        <input type="radio" id="mittag" name="time" value="Mittag" required th:field="*{time}">>
                        <label for="Mittag">Mittag</label><br/>
                        <input type="radio" id="abends" name="time" value="Abends" required th:field="*{time}">>
                        <label for="Abends">Abends</label><br/><br/>
                        <label for="location">Veranstaltungsort</label><br/>
                        <input type="text" name="location" required th:field="*{location}"/><br/><br/>
                    <button class="btn btn-outline-primary" type="submit" th:text="#{shop.addToBasket}"> Kaufen</button>
                </form>
                </div>
            </div>
        </section>
    </body>
</html>