<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Registrierung</title>
</head>
<body>
<nav th:replace="navigation :: navigation"></nav>
<section layout:fragment="content">
    <form class="ui form container" th:action="@{/register}" method="post" th:object="${registrationForm}">
        <h2 class="underlined-text">Neues Konto registrieren</h2>
        <div class="field">
            <label>Name</label>
            <div class="two fields">
                <div class="five wide field">
                    <input type="text" name="first-name" placeholder="First Name" th:field="*{firstName}" required>
                </div>
                <div class="five wide field">
                    <input type="text" name="last-name" placeholder="Last Name" th:field="*{lastName}" required>
                </div>
            </div>
            <div class="ui red message ten wide field" th:if="${usernameAlreadyExists}"
                 th:text="#{register.name.exists.error}">Nutzername ist bereits besetzt
            </div>
        </div>

        <div class="ten wide field">
            <label>Email Adresse</label>
            <input type="text" name="Email address" placeholder="Email Address" th:field="*{email}" required>
            <div class="ui red message" th:if="${emailAddressAlreadyExists}"
                 th:text="#{register.email.exists.error}">Email-Adresse ist bereits besetzt
            </div>
        </div>
        <div class="ten wide field" sec:authorize="!hasRole('ADMIN')">
            <label>Password</label>
            <input type="text" name="password" placeholder="password" th:field="*{password}" required>
            <!--th:pattern="#{register.password.regexp}"-->
            <div class="ui red message" th:if="${#fields.hasErrors('password')}"
                 th:text="#{register.password.unsecure}">Passwort ist nicht sicher genug.
            </div>
        </div>
        <!--        Admin kann zusätzlich position-Feld sehen-->
        <div class="two fields" sec:authorize="hasRole('ADMIN')">
            <div class="five wide field">
                <label>Password</label>
                <input type="text" name="password" placeholder="Password" th:field="*{password}" required>
                <!--th:pattern="#{register.password.regexp}"-->
                <div class="ui red message" th:if="${#fields.hasErrors('password')}"
                     th:text="#{register.password.unsecure}">Passwort ist nicht sicher genug.
                </div>
            </div>
            <div class="five wide field">
                <label>Position</label>
                <select class="ui search dropdown" th:field="*{position}" th:default="${#arrays.toArray(positions)[0]}">
                    <option th:value="${#arrays.toArray(positions)[0]}">Koch</option>
                    <option th:value="${#arrays.toArray(positions)[1]}">Erfahrner Kellner</option>
                    <option th:value="${#arrays.toArray(positions)[2]}">Kellner</option>
                    <option th:value="${#arrays.toArray(positions)[3]}">Minijob</option>
                </select>
            </div>
        </div>

        <button sec:authorize="!hasRole('ADMIN')" type="submit" name="action" value="register-user"
                class="ui basic black button">Register
        </button>
        <button sec:authorize="hasRole('ADMIN')" type="submit" name="action" value="register-staff"
                class="ui basic black button">Register Staff
        </button>
    </form>
</section>
</body>
</html>