<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Registrierung</title>
</head>
<body>
<nav th:replace="navigation :: navigation"></nav>
<section layout:fragment="content">
    <form class="ui form container" th:action="@{/register}" method="post" th:object="${registrationForm}">
        <h2 class="underlined-text">Neues Konto registrieren</h2>
        <div class="field">
            <label>Name</label>
            <div class="two fields">
                <div class="five wide field">
                    <input type="text" name="first-name" placeholder="Vorname" th:field="*{firstName}" required>
                </div>
                <div class="five wide field">
                    <input type="text" name="last-name" placeholder="Nachname" th:field="*{lastName}" required>
                </div>
            </div>
        </div>

<!--        <div class="field">-->
            <div class="two fields">
                <div class="five wide field">
                    <label>Benutzername</label>
                    <input type="text" name="first-name" placeholder="Uniquer Benutzername" th:field="*{username}" required>
                    <div class="ui red message" th:if="${usernameAlreadyExists}"
                         th:text="#{register.name.exists.error}">Nutzername ist bereits vergeben
                    </div>
                </div>
                <div class="five wide field">
                    <label>Email-Adresse</label>
                    <input type="text" name="Email address" placeholder="Unique Email"
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" th:field="*{email}" required>
                    <div class="ui red message" th:if="${emailAddressAlreadyExists}"
                         th:text="#{register.email.exists.error}">Benutzername ist bereits vergeben
                </div>
            </div>
        </div>

        <div class="ten wide field" sec:authorize="!hasRole('ADMIN')">
            <label>Passwort</label>
            <input type="password" name="password" placeholder="Passwort" th:field="*{password}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
            <div class="ui red message" th:if="${#fields.hasErrors('password')}"
                 th:text="#{register.password.unsecure}">Passwort ist nicht sicher genug.
            </div>
        </div>
        <!--        Admin kann zusätzlich position-Feld sehen-->
        <div class="two fields" sec:authorize="hasRole('ADMIN')">
            <div class="five wide field">
                <label>Passwort</label>
                <input type="password" name="password" placeholder="Passwort" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" th:field="*{password}" required>
                <div class="ui red message" th:if="${#fields.hasErrors('password')}"
                     th:text="#{register.password.unsecure}">Passwort ist nicht sicher genug.
                </div>
            </div>
            <div class="five wide field">
                <label>Position</label>
                <select class="ui search dropdown" th:field="*{position}" th:default="${#arrays.toArray(positions)[0]}">
                    <option th:value="${#arrays.toArray(positions)[0]}">Koch</option>
                    <option th:value="${#arrays.toArray(positions)[1]}">Erfahrner Kellner</option>
                    <option th:value="${#arrays.toArray(positions)[2]}">Kellner</option>
                    <option th:value="${#arrays.toArray(positions)[3]}">Minijob</option>
                </select>
                <p th:text="${positions}"></p>
            </div>
        </div>

        <button sec:authorize="!hasRole('ADMIN')" type="submit" name="action" value="register-user"
                class="ui blue button">Registrieren
        </button>
        <button sec:authorize="hasRole('ADMIN')" type="submit" name="action" value="register-staff"
                class="ui blue button">Personalkonto registrieren
        </button>
    </form>
</section>
</body>
</html>