<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Bestellformular</title>
    </head>
    <body>
        <section layout:fragment="content">
        	<h2 class="underlined-text">RentACook Bestellformular</h2>
            <!--<div class="ui card" th:each="ware : ${catalog.findbyType(ServiceType.RENTACOOK)}">-->
                <div class="ui card" th:each="ware : ${catalog}">
                <div>
                <h3 class="card-title" th:href="@{/ware/{id}(id=${ware.id})}" th:text="${ware.name}">RentACook</h3>
                <hr>
                <p class="card-text" th:text="${ware.description}">This is a desctiptive text telling you why you would wanna buy this book this should be limited as noone likes to read essays.</p>
                <hr>
                <h4 class="card-text" th:text="${ware.price}">Grundpreis: 50,00€</h4>
                <hr>
                <form class="ui form" method="post" th:action="@{/cartadd3}">
                    <input type="hidden" name="pid" value="0" th:value="${ware.id}"/>   <!--ware.id = ServiceType-->
                    <label for="number">Anzahl der Gäste:</label><br/>
                    <input type="number" name="number" min="1" max="100" step="1" value="0" th:value="1"><br/><br/>
                    <p>Falls Sie noch weitere Wünsche haben, fügen Sie dies bitte hinzu:</p>
                    <div class="ui card" th:each="option : ${option}">
                        <label for="option" th:text="${option.name}">Option</label> <br/>
                        <input name="option" type="number" min="0" max="10" step="1" value="0"><br/><br/>
                    </div>
                    <label for="date">Datum:</label><br/>
                    <input id="date" type="date" name="date" required th:field="${order.date}"/><br/><br/>
                    <p>Zeitraum:</p>
                    <input type="radio" id="frühs" name="time" value="Frühs" required th:value="${order.time}">
                    <label for="Frühs">Frühs</label><br/>
                    <input type="radio" id="mittag" name="time" value="Mittag" required th:value="${order.time}">>
                    <label for="Mittag">Mittag</label><br/>
                    <input type="radio" id="abends" name="time" value="Abends" required th:value="${order.time}">>
                    <label for="Abends">Abends</label><br/><br/>
                    <label for="location">Veranstaltungsort</label><br/>
                    <input type="text" name="location" required th:value="${order.location}"/><br/><br/>
                    <button class="btn btn-outline-primary" type="submit" th:text="#{shop.addToBasket}"> Kaufen</button>
                </form>
                </div>
            </div>
        </section>
    </body>
</html>