<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Personalliste</title>
</head>
<body>
<div th:replace="navigation :: navigation"></div>
<section layout:fragment="content">
    <h2 class="underlined-text">Personal</h2>
	<div th:if="${!allStaff.iterator().hasNext()}" class="ui message">
		<div class="header">
			Leere Liste
		</div>
		<p>Drücken Sie auf "Neues Konto erstellen"</p>
	</div>
    <table th:if="${allStaff.iterator().hasNext()}" class="ui striped center aligned table">
        <thead><!--TODO implementeire die Sortierfunktion nach Name, Nachname und Position-->
        	<tr class="bold">
				<th>ID</th>
            	<th>Nachname</th>
				<th>Vorname</th>
				<th>Email-Adresse</th>
           		<th>Position</th>
				<th>Aktionen</th>
       		 </tr>
       	</thead>
       	<tbody>
	        <tr th:each="staff : ${allStaff}">
	            <td th:text="${staff.id}">000</td>
				<td th:text="${staff.userAccount.lastname}">Antoinette</td>
				<td th:text="${staff.userAccount.firstname}">Marie</td>
				<td th:text="${staff.userAccount.email}">kuchen@leute.de</td>
				<td th:text="${staff.position}">Personal position</td>
				<td><form th:action="@{/profile}" method="post" style="display: inline">
					<input type="hidden" name="userId" th:value="${staff.getId()}">
					<button type="submit" class="ui button">bearbeiten/löschen</button>
				</form>
				</td>
	        </tr>
		</tbody>
    </table>
	<a th:href="@{/register}" class="ui button">Neues Konto erstellen</a>
</section>
</body>
</html>