<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Test</title>
    </head>
    <body>
        <section layout:fragment="content">
            <form class="ui form" method="get" th:action="@{/cart}">
                <button class="btn btn-outline-primary" type="submit" th:text="#{shop.basket}">View basket</button>
            </form>
            <div class="ui card" th:each="ware : ${catalog}">
                <div>
                <h3>TEST</h3>
                <h3 class="card-title" th:href="@{/ware/{id}(id=${ware.id})}" th:text="${ware.name}">Title: Dune</h3>
                <hr>
                <p class="card-text" th:text="${ware.description}">This is a desctiptive text telling you why you would wanna buy this book this should be limited as noone likes to read essays.</p>
                <hr>
                <h4 class="card-text" th:text="${ware.price}">Price: 14,99€</h4>
                <hr>
                <form class="ui form" method="post" th:action="@{/cartadd}">
                    <input type="hidden" name="pid" value="0" th:value="${ware.id}"/>   <!--ware.id = ServiceType-->
                    <label for="number">Anzahl der Gäste:</label><br/>
                    <input type="number" name="number" min="1" max="100" step="1" value="0" th:value="1"><br/><br/>
                    <label for="extra1">Anzahl der Extra1:</label><br/>
                    <input id="extra1" type="number" name="extra2" required min="0" max="10" step="1" value="0"/><br/><br/>
                    <label for="extra2">Anzahl der Extra2:</label><br/>
                    <input id="extra2" type="number" name="extra2" required min="0" max="10" step="1" value="0"/><br/><br/>
                    <button class="btn btn-outline-primary" type="submit" th:text="#{shop.addToBasket}"> Kaufen</button>
                </form>
                </div>
            </div>

            <div>
            <h3>TEST</h3>
            <h3 class="card-title" >Title: Dune</h3>
            <hr>
            <p class="card-text" >This is a desctiptive text telling you why you would wanna buy this book this should be limited as noone likes to read essays.</p>
            <hr>
            <h4 class="card-text" >Grundpreis: 100,00€</h4>
            <hr>
            <form class="ui form" method="post" th:action="@{/cartadd}">
                <input type="hidden" name="pid" value="0" th:value="1"/>
                <label for="number">Anzahl der Gäste:</label><br/>
                <input type="number" name="number" min="1" max="100" step="1" value="0" th:value="1"><br/><br/>
                <label for="extra1">Anzahl der Extra1:</label><br/>
                <input id="extra1" type="number" name="extra2" required min="0" max="10" step="1" value="0"/><br/><br/>
                <label for="extra2">Anzahl der Extra2:</label><br/>
                <input id="extra2" type="number" name="extra2" required min="0" max="10" step="1" value="0"/><br/><br/>
                <label for="date">Datum:</label><br/>
                <input id="date" type="date" name="date"/><br/><br/>
                <label for="location">Veranstaltungsort</label><br/>
                <input type="text" name="location"><br/><br/>
                <button class="btn btn-outline-primary" type="submit" th:text="#{shop.addToBasket}"> Kaufen</button>
            </form>
            </div>

            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-6 image">
                        <!--refer to videoshop-->

                    </div>
                    <div class="col-md-6">
                        <div class="card-body content">
                            <!--adjust the hrefs to whatever you end up using in the crud-->

                            <h5 class="card-title" >Didday, Richard L</h5>
                            <hr>
                            <p class="card-text" >This is a desctiptive text telling you why you would wanna buy this book this should be limited as noone likes to read essays.</p>
                            <hr>
                            <h4 class="card-text" >Horror</h4>
                            <hr>
                            <h4 class="card-text" >14,99€</h4>
                            <hr>
                            <form class="ui form" method="post" th:action="@{/cartadd}" >
                                <input type="hidden" name="pid" value="0" />
                                <input type="number" name="number" min="1" max="100" step="1" value="0" th:value="1"><br/><br/>
                                <button class="btn btn-outline-primary" type="submit" th:text="#{shop.addToBasket}"> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>